
<div class="information-blocks">
    <div class="row">
        <div class="col-sm-4 information-entry">
            <h3 class="block-title inline-product-column-title">Новинки</h3>
            {{#foreach featured.new 5 }}
            <div class="inline-product-entry">
                <a href="/catalog/{{this.cat_alias}}/{{this.sku}}/" class="image"><img alt="" src="/img/products/{{this.cover}}"></a>
                <div class="content">
                    <div class="cell-view">
                        <a href="/catalog/{{this.cat_alias}}/{{this.sku}}/" class="title">{{this.name}}</a>
                        <div class="price">
                            <div class="current">{{this.price}} ₴</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            {{/foreach }}
        </div>
        <div class="col-sm-4 information-entry">
            <h3 class="block-title inline-product-column-title">Акции</h3>
            {{#foreach featured.stock 5 }}
            <div class="inline-product-entry">
                <a href="/catalog/{{this.cat_alias}}/{{this.sku}}/" class="image"><img alt="" src="/img/products/{{this.cover}}"></a>
                <div class="content">
                    <div class="cell-view">
                        <a href="/catalog/{{this.cat_alias}}/{{this.sku}}/" class="title">{{this.name}}</a>
                        <div class="price">
                            <div class="current">{{this.price}} ₴</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            {{/foreach }}
        </div>
        <div class="col-sm-4 information-entry">
            <h3 class="block-title inline-product-column-title">Бестселлеры</h3>
            {{#foreach featured.bestsellers 5 }}
            <div class="inline-product-entry">
                <a href="/catalog/{{this.cat_alias}}/{{this.sku}}/" class="image"><img alt="" src="/img/products/{{this.cover}}"></a>
                <div class="content">
                    <div class="cell-view">
                        <a href="/catalog/{{this.cat_alias}}/{{this.sku}}/" class="title">{{this.name}}</a>
                        <div class="price">
                            <div class="current">{{this.price}} ₴</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            {{/foreach }}
        </div>
    </div>
</div>
