<div class="header-wrapper style-2">
    <header class="type-1">
        <div class="header-top">
            <!-- <div class="header-top-entry">
                <div class="title"><img src="img/flag-lang-1.png" alt="" />English<i class="fa fa-caret-down"></i></div>
                <div class="list">
                    <a href="#" class="list-entry"><img src="img/flag-lang-2.png" alt="" />French</a>
                    <a href="#" class="list-entry"><img src="img/flag-lang-3.png" alt="" />Spanish</a>
                </div>
            </div> -->
            <div class="header-top-entry">
                <div class="title"><b>Валюта:</b> UAH ₴<i class="fa fa-caret-down"></i></div>
                <div class="list">
                    <a href="#" class="list-entry">UAH ₴</a>
                    <a href="#" class="list-entry">USD $</a>
                    <a href="#" class="list-entry">EUR &#8364;</a>
                </div>
            </div>
            <div class="header-top-entry hidden-xs">
                <div class="title"><i class="fa fa-phone"></i>Остались вопросы? звоните <a href="tel:+987123654"><b>+987 123 654</b></a></div>
            </div>
            <div class="socials-box">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
            <div class="clear"></div>
        </div>

        <div class="header-middle">
            <div class="logo-wrapper">
                <a id="logo" href="/"><img src="/logo.png" alt="" style="height:50px; width:auto;"/></a>
            </div>

            <div class="middle-entry">
                <a class="icon-entry" href="#">
                    <span class="image">
                        <i class="fa fa-phone"></i>
                    </span>
                    <span class="text">
                        <b>Kyivstar</b> <br/> (+48) 500 700 600
                    </span>
                </a>
                <a class="icon-entry" href="#">
                  <span class="image">
                      <i class="fa fa-phone"></i>
                  </span>
                  <span class="text">
                      <b>Vodafone</b> <br/> (+48) 500 700 600
                  </span>
                </a>
            </div>

            <div class="right-entries">
                <a class="header-functionality-entry open-search-popup" href=""><i class="fa fa-search"></i><span>Поиск</span></a>
                <a class="header-functionality-entry" href="/favorites"><i class="fa fa-heart-o"></i><span>Избранное <b><span class="favorites-total">0</span></b></span></a>
                <a class="header-functionality-entry open-cart-popup" href="/checkout"><i class="fa fa-shopping-cart"></i><span>Корзина</span> <b><span class="cart-total">0.00</span> ₴</b></a>
            </div>

        </div>

        <div class="close-header-layer"></div>
        <div class="navigation active">
            <div class="navigation-header responsive-menu-toggle-class">
                <div class="title">Навигация</div>
                <div class="close-menu"></div>
            </div>
            <div class="nav-overflow">
                <div class="sidebar-navigation-title"> &nbsp; </div>
                <div class="navigation-search-content">
                    <div class="toggle-desktop-menu"><i class="fa fa-bars"></i><i class="fa fa-search"></i> <span>меню</span> </div>
                    <div class="search-box size-1">
                        <form id="search-form" onsubmit="__.search(event);">
                            <div class="search-button">
                                <i class="fa fa-search"></i>
                                <input type="submit"/>
                            </div>
                            <div class="search-field">
                                <input type="text" value="{{ query.q }}" name="q" placeholder="Поиск по названию / артикулу товара" />
                            </div>
                        </form>
                    </div>
                </div>
                <nav>
                  <ul>
                    {{#each menu }}
                      <li class="full-width">
                        <a href="/{{ this.alias }}">{{ this.name }}</a>
                        {{#if this.catalog }}
                          <i class="fa fa-chevron-down"></i>
                          <div class="submenu" style="display: none; opacity: 1;">
                            <div class="full-width-menu-items-left">
                                <img alt="" src="/img/blacksmith.jpg" class="submenu-background">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="submenu-list-title" style="display:block;"><a href="/catalog">Вся продукция</a><span class="toggle-list-button"></span></div>
                                        {{#each ../mcategories }}
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                          <ul class="list-type-1 toggle-list-container">
                                            {{#each this }}
                                              <li><a href="/catalog/{{ this.name }}"><i class="fa fa-angle-right"></i>{{ this.name }}</a></li>
                                            {{/each }}
                                          </ul>
                                        </div>
                                        {{/each }}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="submenu-links-line">
                                <div class="submenu-links-line-container">
                                    <div class="cell-view">
                                        <div class="line-links"><b>Полезные ссылки:</b>  <a href="/catalog/angebot">Акции</a>, <a href="/catalog/novelties">Новинки</a>, <a href="/catalog/bestsellers">Топ продаж</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                      </li>
                    {{/each}}
                    <li class="fixed-header-visible">
                        <a class="fixed-header-square-button open-cart-popup"><i class="fa fa-shopping-cart"></i></a>
                        <a class="fixed-header-square-button open-search-popup"><i class="fa fa-search"></i></a>
                    </li>
              </ul>

                    <div class="clear"></div>

                    <a class="fixed-header-visible additional-header-logo"><img src="/logo.png" alt=""/></a>
                </nav>
                <div class="navigation-footer responsive-menu-toggle-class">
                    <div class="socials-box">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <div class="clear"></div>
                    </div>
                    <div class="navigation-copyright"> &copy; 2018. Все права защищены. <a>megakovka.com.ua</a> </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clear"></div>
</div>
