<div id="content-block">
    <div class="content-center fixed-header-margin">

        {{> header2 }}

        <div class="content-push">

          <div class="breadcrumb-box">
            <a href="/">ГЛАВНАЯ</a>
            <a> О КОМПАНИИ </a>
          </div>

          <div class="information-blocks">
              <div class="row">
                  <div class="col-md-12 information-entry">
                      <div class="information-blocks">
                          <img class="project-thumbnail" src="/img/bs22.jpg" alt="">
                          <div class="row">
                              <div class="col-md-6 information-entry">
                                  <div class="article-container">
                                    <h2>О нашей компании</h2>
                                    <p>«Мир ковки» предлагает вниманию клиентов широкий ассортимент кованых изделий по доступным ценам для оформления дома, дачи, сада, парков, скверов, ландшафтов и детских площадок.
                                        Мы благодарим Вас за оказанное доверие и стремимся не потерять его в будущем. Мы открыты новому сотрудничеству и всегда готовы делиться успехами.</p>
                                  </div>

                                  <div class="article-container">
                                    <h3 class="block-title">Многие компании и частные лица, работающие с нами, отмечают, что им нравится:</h3>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Широкий ассортимент продукции;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Гибкая система скидок, регулярные акции, спец. предложения и многое другое;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Вежливость, оперативность и высокая квалификация сотрудников;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Эффективная работа квалифицированных специалистов склада существенно экономит время сборки и отгрузки товара;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Складской учёт, программное обеспечение позволяет поддерживать полный ассортимент товаров, а наличие интернет — сайта оперативно информировать вас о его наличии;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Услуги по порезке длинномеров;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Принимаем оплату кредитными картами;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Удобное расположение офиса продаж рядом со складом;</h5>
                                    </div>
                                    <div class="article-container style-1">
                                      <h5><i class="fa fa-certificate"></i> Чистые складские зоны обслуживания покупателей, стоянки автомобилей;</h5>
                                    </div>
                                  </div>

                              </div>

                              <div class="col-md-6 information-entry">
                                  <div class="article-container">
                                    <p style="font-size:16px;color:#929292;">Ковка – истинное искусство, которое превращает холодный и грубый металл в красивые и изящные изделия.</p>
                                    <p>Данный вид деятельности - не очередное веяние моды. На протяжении многих столетий элегантные кованые предметы интерьера и экстерьера являются вечно актуальной классикой.</b></p>
                                    <p>Часто противопоставляют ручную ковку и промышленную.</p>
                                    <h3 class="block-title">В чём преимущества промышленной ковки?</h3>
                                  </div>
                                  <div class="article-container style-1">
                                      <h5><i class="fa fa-credit-card"></i> Низкая цена</h5>
                                      <p>Цена одинаковых элементов сделанных промышленным способом в десятки раз ниже таких же элементов изготовленных с помощью «молотка».</p>
                                  </div>
                                  <div class="article-container style-1">
                                      <h5><i class="fa fa-thumbs-up"></i> Качество</h5>
                                      <p>Если сравнивать с «молоточной» ковкой промышленные элементы тоже достойного качества.</p>
                                  </div>
                                  <div class="article-container style-1">
                                      <h5><i class="fa fa-retweet"></i> Превосходная повторяемость</h5>
                                      <p>Точные формы и размеры одинаковых элементов ковки.</p>
                                  </div>
                                  <div class="article-container style-1">
                                      <h5><i class="fa fa-picture-o"></i> Возможность для Вас приобщиться к творчеству</h5>
                                      <p>Это конструктор, который позволяет каждому человеку иметь возможность экспериментировать, создавать что-то своё.</p>
                                  </div>
                                  <div class="article-container style-1">
                                      <h5><i class="fa fa-check-square-o"></i> Простота воплощения Ваших идей</h5>
                                      <p>Все элементы соединяются при помощи обычной электросварки вами лично или с помощью знакомых.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          {{>featuredtabs }}

          {{>footer }}

      </div>

    </div>
    <div class="clear"></div>

</div>

{{> modals }}
