<div id="content-block">
    <div class="content-center fixed-header-margin">

        {{> header2 }}

        <div class="content-push">

            <div class="breadcrumb-box">
              <a href="/">ГЛАВНАЯ</a>
              <a> ДОСТАВКА И ОПЛАТА </a>
            </div>

            <div class="information-blocks delivery">
              <div class="row">
                  <div class="col-md-12 information-entry">
                      <div class="article-container style-1">
                        <h2>УСЛОВИЯ ОПЛАТЫ И ДОСТАВКИ</h2>
                        <div class="mozaic-banners-wrapper type-2">
                              <div class="row">
                                  <div class="banner-column col-md-4 col-sm-6">
                                      <a class="mozaic-banner-entry type-3" target="_blank" href="http://www.novaposhta.ua" style="background-image: url(/img/delivery-1.jpg);">
                                          <span class="mozaic-banner-content">
                                              <span class="title">НОВА ПОШТА</span>
                                          </span>
                                      </a>
                                  </div>
                                  <div class="banner-column col-md-4 col-sm-6">
                                      <a class="mozaic-banner-entry type-3" target="_blank" href="http://www.delivery-auto.com" style="background-image: url(/img/delivery-2.jpg);">
                                          <span class="mozaic-banner-content">
                                              <span class="title">Делівері</span>
                                          </span>
                                      </a>
                                  </div>
                                  <div class="banner-column col-md-4 col-sm-12">
                                      <a class="mozaic-banner-entry type-3" target="_blank" href="http://www.intime.ua" style="background-image: url(/img/delivery-3.jpg);">
                                          <span class="mozaic-banner-content">
                                              <span class="title">Ін Тайм</span>
                                          </span>
                                      </a>
                                  </div>
                                  <div class="clear"></div>
                              </div>
                          </div>
                          <div>
                            <p>Оформление заказа возможно такими способами:</p>
                            <p> - выбрать товар на нашем  сайте и нажать кнопку «купить», товар автоматически попадает в корзину , где необходимо будет указать количество,
                                                          далее вы можете продолжить покупки или перейти в корзину для дальнейшего оформления заказа; <br>
                                - заказ можно оформить по телефону, связавшись с нашим менеджером.
                            </p>
                            <p>Минимальной суммы заказ нет.</p>
                            <p>Товар представленный на сайте гарантированно есть в наличии.</p>
                            <p>Для удобства нашим клиентам предлагаются следующие варианты оплаты заказов:</p>
                            <p>
                              - на карту приват банка (в таком случае отгрузка товара происходит после поступления денежных средств на наш счет); <br>
                              - наложенный платеж (клиент оплачивает стоимость за товар курьеру-перевозчику при получении). <br>
                            </p>
                            <p>Доставка по городам Украины</p>
                            <p>Доставка осуществляется компаниями перевозчиками Новая Почта, Ин-Тайм, Деливери. После отгрузки товара, мы свяжемся с Вами по телефону, сообщить номер товарно-транспортной накладной и сроки доставки.
                            При получении груза на отделении компании перевозчика  Вам необходимо иметь при себе паспорт или доверенность и знать номер товарно-транспортной накладной.</p>
                            <p>Рассчитать стоимость доставки возможно на сайте компаний перевозчиков :</p>
                            <p>Новая Почта <a href="http://www.novaposhta.ua">www.novaposhta.ua</a></p>
                            <p>Ин-Тайм  <a href="http://www.intime.ua">www.intime.ua</a></p>
                            <p>Деливери  <a href="http://www.delivery-auto.com">www.delivery-auto.com</a></p>
                            <p>Детальная информация по тел. 068 - 000 - 00 - 00</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          {{> featured }}
          {{> footer }}
        </div>

    </div>
    <div class="clear"></div>

</div>
{{> modals }}
