
<!-- <video loop="" id="video" style="display: block;opacity: 1;transform: translate3d(0px, 0px, 0px);width: 640px;height: auto;position: fixed;float: left;">
<source src="video/firev.mp4" type="video/mp4">
<source src="video/firev.webm" type="video/webm">
<source src="video/bg-2.ogv" type="video/ogg">
</video>
<script type="text/javascript">
var video = document.getElementById("video");
video.play();
</script> -->

{{> preloader }}

<div id="content-block">

  {{> header }}

    <div class="sidebar-content-wrapper fixed-header-margin center-container home-page">
        <div class="content-center">
            <div class="content-push">
                <div class="navigation-banner-swiper">
                    <div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                        <div class="swiper-wrapper">
                          {{#each banners}}
                            <div class="swiper-slide active" data-val="0">
                                <div class="navigation-banner-wrapper light-text {{#iseven @index}} align-1 {{else}} align-3 {{/iseven}}" style="background-image: url(img/{{ this.cover }});">
                                    <div class="navigation-banner-content">
                                        <div class="cell-view">
                                            <h2 class="subtitle">{{ this.subtitle }}</h2>
                                            <h1 class="title">{{ this.title }}</h1>
                                            <div class="description" style="color: #beaa99;">{{ this.description }}</div>
                                            <div class="info">
                                                {{#if this.buttons }}
                                                  {{#each this.buttons}}
                                                    <a class="button style-1" href="{{ this.uri }}" onclick="{{ this.onclick }}">{{ this.text }}</a>
                                                  {{/each}}
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="clear"></div>
                        <div class="pagination"></div>
                    </div>
                </div>
                <div class="information-blocks">
                    <div class="block-header" style="padding-top: 0;">
                        <h3 class="title">Наш каталог</h3>
                        <div class="description">Мы предлагаем широчайший ассортимент кованных изделий и сопутствующей продукции по выгодным ценам.</div>
                    </div>
                </div>
                <div class="portfolio-container type-1">
                  <div class="row">
                      {{#each categories}}
                      <div class="col-sm-4 col-md-4 col-lg-3 portfolio-entry">
                          <div class="image" style="background-image: url(/img/categories/{{ this.cover }});">
                              <img alt="" src="/img/categories/crop/{{ this.cover_crop }}">
                              <div class="hover-layer">
                                  <div class="info">
                                      <div class="actions">
                                          <a class="action-button" href="/catalog/{{ this.alias }}" title="{{ this.name }}"><i class="fa fa-cart-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <a class="title" href="/catalog/{{ this.alias }}" title="{{ this.name }}">{{ this.name }}</a>
                          <div class="subtitle"><span class="comments-number">{{ this.products }} позиций</span></div>
                      </div>
                    {{/each}}
                  </div>
              </div>

              <div class="information-blocks">
                {{> featuredtabs }}
              </div>

              <div class="information-blocks">
                <div class="article-container style-1">
                  <h3 class="text-center">Кованые элементы  от производителя</h3>
                  <p><b>Компания "Мегаковка" предлагает своим клиентам купить кованые изделия в Украине по самой доступной цене. История создания кованых изделий тянется из глубины веков. Под элементами ковки подразумевают разнообразные кованые изделия металла. Совершенствование мастерства кузнецов привело к тому, что стали появляться металлические изделия, обладающие определенной художественной ценностью. Изысканные фигуры из металла, кованые элементы превратились в настоящие авторские работы, ценность которых со временем не утрачивается.</b></p>
                  <p>Коваными элементами можно облагородить такие элементы интерьера как мебель, люстры, лестницу, таким образом кардинальон изменив вид помещения. Металлические конструкции с элементами ковки на участке у дома, такие как кованые ворота с забором, скамейки и фонари так же привлекают внимание и подчёркивают хороший вкус и достаток хозяев. Эффектно смотрятся входные группы, где перила, лестница и козырёк смотрятся в одном стиле. А кованые беседки - это прекрасное место как для уединённого отдыха, так и для посиделок с друзьями. Благодаря огромному выбору литых, кованых и штампованных элементов из металла, которые представлены в нашем магазине, Ваш дом никогда не будет похож на чей-либо другой!</p>
                  <p>Всем покупателям предоставляются широкий выбор и оперативное удовлетворение спроса благодаря постоянному наличию товара на складе.</p>
                </div>
              </div>
          </div>
        </div>

        {{>footer }}

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

{{> modals }}
