<div id="content-block">
    <div class="content-center fixed-header-margin">

        {{> header2 }}

        <div class="content-push">

          <div class="breadcrumb-box">
            <a href="/">ГЛАВНАЯ</a>
            <a> ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ </a>
          </div>

          <div class="information-blocks">
              <div class="row">
                  <div class="col-md-12 information-entry">
                      <div class="information-blocks">
                          <div class="row">
                              <div class="col-md-12 information-entry">
                                <div class="article-container">
                                  <h3 style="text-align:center;"><strong>Пользовательское Соглашение</strong></h3>
                                  <p><span style="font-weight: 400;">Соглашение о пользовании услугами Интернет-магазина&nbsp;</span><strong>megakovka.com.ua</strong></p>
                                  <p><span style="font-weight: 400;">Настоящее соглашение, далее "Соглашение", заключается между Интернет-магазином&nbsp;</span><strong>megakovka.com.ua</strong><span style="font-weight: 400;">, имеющим адрес в сети Интернет&nbsp;</span><strong>https:// megakovka.com.ua</strong><span style="font-weight: 400;">, далее "Интернет-магазин" или "Сайт", и пользователем услуг Интернет-магазина, далее "Покупатель", и определяет условия приобретения товаров через Сайт.</span></p>
                                  <p><strong>1. Основные положения</strong></p>
                                  <p><span style="font-weight: 400;">1.1. Настоящее Соглашение заключается между Покупателем и Интернет-магазином в момент оформления заказа. Покупатель подтверждает свое согласие с условиями, установленными настоящим Соглашением.</span></p>
                                  <p><span style="font-weight: 400;">1.2. Настоящие Соглашение, а также информация о товаре, представленная на Сайте, являются публичной офертой.</span></p>
                                  <p><span style="font-weight: 400;">1.3. К отношениям между Покупателем и Интернет-магазином применяются положения ГК Украины о розничной купле-продаже, а также Закон Украины "О защите прав потребителей" и иные правовые акты, принятые в соответствии с ними.</span></p>
                                  <p><span style="font-weight: 400;">1.4. Покупателем может быть любое физическое или юридическое лицо, способное принять и оплатить заказанный им товар в порядке и на условиях, установленных настоящим Соглашением, на территории Украины.</span></p>
                                  <p><span style="font-weight: 400;">1.5. Интернет-магазин оставляет за собой право вносить изменения в настоящее Соглашение.</span></p>
                                  <p><span style="font-weight: 400;">1.6. Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте, и должно применяться и толковаться в соответствии с законодательством Украины.</span></p>
                                  <p><strong>2. Информация о товаре</strong></p>
                                  <p><span style="font-weight: 400;">2.1. Товар представлен на Сайте через фото-образцы, являющиеся собственностью Интернет-магазина.</span></p>
                                  <p><span style="font-weight: 400;">2.2. Товар может отличаться от фото-образцов, но обязательно будет соответствовать характеристикам выбранной позиции.</span></p>
                                  <p><span style="font-weight: 400;">2.3. Каждый фото-образец сопровождается текстовой информацией: ценой и описанием товара.</span></p>
                                  <p><span style="font-weight: 400;">2.4. По просьбе Покупателя менеджер Интернет-магазина может предоставить (по телефону или посредством электронной почты) прочую информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия им решения о покупке товара.</span></p>
                                  <p><span style="font-weight: 400;">2.5. Указанная на Сайте цена товара может быть изменена Интернет-магазином в одностороннем порядке, но не после того, когда заказ уже сделан Покупателем</span></p>
                                  <p><strong>3</strong><strong>. Приём и обработка заказов</strong></p>
                                  <p><span style="font-weight: 400;">3.1. Заказы принимаются посредством сайта megakovka.com.ua, а также по телефону указанному на сайте .</span></p>
                                  <p><span style="font-weight: 400;">3.2. Если заказ сделан посредством сайта в рабочее время (понедельник-пятница с 9.00-18.00) представитель интернет-магазина подтверждает оформление заказа в течении часа. Если заказ сделан в нерабочее время, выходные или праздничные дни, представитель интернет-магазина свяжется с Покупателем в ближайшее рабочее время.</span></p>
                                  <p><span style="font-weight: 400;">3.3. После размещения заказа Покупатель получает сообщение на указанный при регистрации электронный адрес о том, что его заказ принят автоматической системой управления заказами и в скором времени с ним свяжется представитель Интернет-магазина для оформления заказа, проверки наличия заказываемых товаров и уточнения условий оплаты и доставки.</span></p>
                                  <p><span style="font-weight: 400;">3.4. Заказ не считается оформленным (только для оплаты наличными), если Покупатель не прошел этап подтверждения заказа представителю Интернет-магазина по телефону (Покупатель не отвечает на звонок, находится вне зоны действия сети).</span></p>
                                  <p><strong>4. Доставка</strong></p>
                                  <p><span style="font-weight: 400;">4.1 Условия оплаты и доставки товаров Покупателю регламентируются разделом "доставка и оплата".</span></p>
                                  <p><span style="font-weight: 400;">4.2. Покупатель понимает о возможности возникновения ситуации, при которой на доставку потребуется больше 3 рабочих дней (отсутствие свободных машин, доставляющих заказы Интернет-магазина, и др.) или доставка будет вообще временно невозможна. При этом Интернет магазин crocs.org.ua&nbsp;не принимает на себя никаких обязательств по возмещению каких-либо убытков Покупателя, связанных с несвоевременной поставкой заказа. Если Покупателя не устраивают сроки поставки, он имеет право отказаться от заказа</span></p>
                                  <p><strong>5. Оплата товара</strong></p>
                                  <p><span style="font-weight: 400;">5.1. Порядок и условия оплаты заказанного товара оговариваются Покупателем с менеджером Интернет-магазина.</span></p>
                                  <p><span style="font-weight: 400;">5.4. Товар оплачивается только в гривнах.</span></p>
                                  <p><strong>6. Возврат товара</strong></p>
                                  <p><span style="font-weight: 400;">6.1. Покупатель вправе отказаться от товара после его получения. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара.</span></p>
                                  <p><span style="font-weight: 400;">6.2. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его Покупателем.</span></p>
                                  <p><span style="font-weight: 400;">6.3. При отказе Покупателя от товара Интернет-магазин возвращает ему денежную сумму, уплаченную за товар, за вычетом суммы расходов Интернет-магазина, связанных с доставкой товара Покупателю и вывозом товара от Покупателя, не позднее, чем через десять дней со дня предъявления Покупателем соответствующего требования.</span></p>
                                  <p><strong>7. Прочее</strong></p>
                                  <p><span style="font-weight: 400;">7.1. Интернет-магазин оставляет за собой право расширять и сокращать товарное предложение на Сайте, регулировать доступ к покупке любых товаров, а также приостанавливать или прекращать продажу любых товаров по своему собственному усмотрению.</span></p>
                                  <p>&nbsp;</p>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          {{>footer }}

      </div>

    </div>
    <div class="clear"></div>

</div>

{{> modals }}
