.page-catalog .portfolio-entry .image{text-align: center;}
.page-catalog .portfolio-entry .image .title-info .title {line-height: 24px;}
.page-catalog .portfolio-entry .action-button{min-width: 35%;}
.home-page .portfolio-entry .title {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.home-page .portfolio-entry .action-button{min-width: 40%;}
.home-page .portfolio-entry .action-button .fa{font-size: 20px;vertical-align: middle;}
.compare-table td {border: 1px #e6e6e6 solid;padding: 25px;}
.compare-table thead tr td {background: #fcfcfc;}
.compare-table tbody a{display: block; color:#1051a3;transition: all .2s;cursor: pointer;}
.compare-table tbody a:hover{background: #1051a3;color: #fff}
.compare-table td:first-child {width: 10%;}
.compare-table td:nth-child(2) {width: 15%;}
.compare-table td:nth-child(3) {width: 50%;}
.compare-table td:nth-child(4) {width: 15%;}
.compare-table td:last-child {text-align: center;}
.table-slider {    width: auto;white-space: nowrap;overflow-y: scroll;overflow-x: hidden;height: 751px;margin-right: -17px;}
.table-slider .table-slider-slide{width: 100%;vertical-align: top;}
.pricelists .pages-box{margin: 10px 0;}
.compare-table-body {}
.inline-product-entry .image img {width: auto;height: 50px;margin: auto;}
.search-field {margin-right: 45px;}
.footer-wrapper.style-9 footer.type-2 .copyright a {  color: #b11a1a;}
.footer-wrapper.style-9 {margin: 0 -70px;}
.home-page .footer-wrapper.style-9 {margin: 0;opacity: 1;}
.home-page .footer-wrapper.style-9 footer{background: rgba(255, 255, 255, 0.98);}
.home-page .footer-wrapper .position-center {background: transparent;}
.footer-wrapper .position-center{background: inherit;}
.delivery .mozaic-banners-wrapper.type-2 .mozaic-banner-entry {background-size: cover;}
.delivery .mozaic-banners-wrapper.type-2 .mozaic-banner-content {top: 80%;}
body.style-20 .delivery .mozaic-banners-wrapper.type-2 .mozaic-banner-content .title {    font-family: inherit;font-size: 34px;padding: 5px;background: #ffffff73;}
body.style-20 .delivery .mozaic-banners-wrapper.type-2 .mozaic-banner-content {max-width: 100%;}
.product-preview-box .swiper-slide img {width: auto;margin: auto;max-width: 100%;}
.swiper-slide {width: 100%;}
.product-detail-box .price {font-family: 'Montserrat', sans-serif;letter-spacing: 1px;}
.detail-info-entry {margin-bottom: 15px;}
.instant-order-form .total-price{letter-spacing: 0.5px;}
.product-image .top-line-a {font-weight: 500;}
.product-image .top-line-a.right {right: -100%;}
.portfolio-entry .image{background-size: cover;background-position: center;background-repeat: no-repeat;}
.wishlist-entry .product-slide-entry {max-width: 999px;}
.wishlist-entry .column-2 .remove-button {margin-left: 20px;}
p.orm{padding: 50px 0;text-align: center;font-size: 30px;line-height: 35px;}
p.orm span{font-size: 1.2em;color: #1051a3;letter-spacing: 2px;}
.full-width-menu-items-left {margin-right: 200px;}
.cart-summary-box .grand-total {font-size: 20px;}
.cart-summary-box {padding: 15px 35px;}
.cart-summary-box .sub-total {font-size: 13px;font-weight: 500;}
.cart-table td {padding: 15px 30px;}
.cart-table tr {position: relative;}
#cart-table-overlay{display: none;background-color: rgba(16, 81, 163, 0.95);text-align: center;position: absolute; z-index: 10000;}
#cart-table-overlay p{vertical-align: middle;color: #fff;font-size: 1.5em;padding: 50px 0;}
textarea.simple-field.size-108 {height: 108px;}
body.style-20 .sidebar-navigation {  margin-top: 0px; }
body.style-20 .sidebar-navigation{border: none;}
body.style-20 .sidebar-navigation .title{background: #0f51a3; margin-bottom: 4px;}
body.style-20 .sidebar-navigation .entry{border: 1px #f5f5f5 solid; background: #fff; margin-bottom: 4px;}
body.style-20 .sidebar-navigation .entry .fa{color: #0f51a3;}
body.style-20 .sidebar-navigation .entry:before{background: #0f51a3;}
body.style-20 .sidebar-navigation-title{line-height: 70px; padding: 0 25px; position: absolute; left: 0; top: 0; font-size: 13px; font-weight: 700; color: #fff; text-transform: uppercase;}
body.style-20 .sidebar-navigation{margin-bottom: 50px;}
body.style-20 .sidebar-navigation .title{line-height: 16px; padding-top: 27px; padding-bottom: 27px; margin-bottom: 8px;}
body.style-20 .sidebar-navigation .entry .fa{display: block; float: left;}
body.style-20 .sidebar-navigation .entry span{display: block; padding-left: 15px;font-size: 15px;}
.required {box-shadow: 0px 0px 2px 0px #e61722;}
.cart-box.popup .image {
    height: 95px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.traditional-cart-entry .image {
  height: 95px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.product-image .top-line-a {
    background: rgba(28,28,28,0.9);
    color: #c1c1c1;
}
.mozaic-banners-wrapper.type-2 .mozaic-banner-entry {
    background-color: #fff;
}
.article-container ul li:before{
  display: block;
  float: left;
  margin-top: -1px;
  margin-right: 0px;
}
.article-container li a {
    display: block;
    padding-left: 15px;
}
.article-container ul li.active {
    background: transparent;
}
.article-container ul li.active a {
    color: #cd1902;
}
.breadcrumb-box a{
  text-transform: uppercase;
}
.product-slide-entry .price {
    float: left;
}
.list-view .product-slide-entry .price {
    float: none;
}
.product-slide-entry .article-container {
    float: right;
    display: block;
    font-size: 16px;
}
.list-view .product-slide-entry .article-container {
    float: none;
}
/* .article-container.style-1 {
    line-height: 14px;
    font-size: 16px;
} */
.product-image .left-align {
    margin-right: 35px;
}
.paginator * {user-select: none!important;}
.product-slide-entry .product-image {
    height: 230px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
  }
.list-view .product-slide-entry .product-image {
    width: 200px;
    height: 170px;
}
.shop-grid .content{padding:35px 0;}
.navigation-search-content{height: 0px;}
.footer-wrapper { opacity: 0.85;}
.jarallax {
    position: relative;
    z-index: 0;
    height: 100%;
}
.jarallax .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content-center, .position-center {
    background: rgba(255, 255, 255, 0.99);
}

.home-page .content-center, .home-page  .position-center {
    background: rgba(255, 255, 255, 0.95);
}

.content-center.home, .position-center.home {
    background: rgba(255, 255, 255, 0.85);
}
header {
    background: transparent;
}
header.fixed-header .nav-overflow {
  background: rgba(255, 255, 255, 0.95);
}
strong { font-weight: bold;}
body.style-20 {
  background: url('/img/bs9.jpg') center no-repeat; background-attachment:fixed;background-size: 100%;
}
.quantity-selector{white-space: nowrap;}
.product-preview-box .swiper-slide img {max-height: 360px;}
@media (min-width: 1200px){
  .header-functionality-entry.favorites{margin-top: 20px;}
	.sidebar-content-wrapper.center-container:before { background: transparent!important;}
  body.style-2 .sidebar-navigation{margin-top: -95px; position: relative;}
  .header-wrapper.style-2 header:not(.fixed-header) nav {padding-left: 50px;}
}
@media (max-width: 1320px) {
  body.style-20{background-size: cover;}
}
@media (max-width: 768px) {
  .grid-view .product-slide-entry .list-buttons {display: block;}
  .grid-view .product-slide-entry .list-buttons .button {padding: 10px;}
  .grid-view .product-slide-entry .list-buttons .button span {white-space: nowrap;}
  .shop-grid .product-slide-entry .title {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
  .product-slide-entry .price {padding-top: 5px;margin-bottom: 10px;}
  .product-preview-box {max-width: 200px;margin: auto;}
}
@media (max-width: 1199px) {
  body.style-2 .sidebar-navigation-title{display: none;}
  body.style-20{background-size: cover;}
  header {background: rgba(255, 255, 255, 0.98);}
  .sidebar-navigation .list {  display: block;}
  body.style-20 .sidebar-navigation .entry span {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
}
@media (min-width: 1400px) {
  .sidebar-content-wrapper.center-container {max-width: 1000px;}
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .sidebar-content-wrapper.center-container {max-width: 1000px;}
  .header-wrapper.center-container header, .header-wrapper.center-container .navigation-footer {
    left: 4%; margin-left: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1499px) {
  .sidebar-content-wrapper.center-container {max-width: 900px;margin-left: 170px;}
  .header-wrapper.center-container header, .header-wrapper.center-container .navigation-footer {
    left: 2%; margin-left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1279px) {
  .sidebar-content-wrapper.center-container {max-width: 870px;margin-left: 170px;}
  .header-wrapper.center-container header, .header-wrapper.center-container .navigation-footer {
    left: 2%; margin-left: 0;
  }
}
