<div class="container">
  <form class="col-8" style="float:none;margin: 15vh auto;">

    <div class="row">
      <div class="form-group col-6">
        <label class="sr-only" for="inlineFormInputName2">Имя</label>
        <input type="text" class="form-control" placeholder="admin">
      </div>

      <div class="input-group form-group col-6">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Пароль</label>
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" placeholder="******">
      </div>

      <div class="form-group col-12">
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        <label style="margin:3px;vertical-align:top;"> Запомнить меня </label>
      </div>

      <div class="form-group col-12">
          <button type="submit" class="btn btn-primary mb-2">Войти</button>
      </div>
    </div>

  </form>
</div>
